{% extends "header.html" %}
{% block body %}
<body>
    <h1>Welcome to an interactive explorer for Instacart Data</h1>
    <p>Whether you shop from meticulously planned grocery lists or let whimsy guide your grazing, our unique food rituals define who we are.
        Instacart, a grocery ordering and delivery app, aims to make it easy to fill your refrigerator and pantry with your personal favorites and staples when you need them.</p>
    <p>This web application provides an interactive interface to query grocery shopping data made public by Instacart.
        Explore the different tabs and interact with the widgets to get an detailed analysis of the data set. We have also provided
    the option for the user to query the database and get instant result but before that take some time and go through the analysis that
    we have presented.</p>

    <p>The Instacart online grocery shopping dataset was made public in 2017 and contains a sample of over 3 million grocery orders from more  than 200,000 instacart users.
        For each user, it provides many of their orders, sequence of products purchased in each order, the week and  hour of day the order was placed and a relative measure of time between orders.</p>

    <p>This web application can be used to understand the dataset and explore some of the interesting patterns that can be visualized.
        The users have an option to first signup and create a user account after which they will be allowed to access the service.
    The users will also be given a way to query the live database but only admin has permission to perform an update/modify/delete/drop operation.
    </p>

    <img style="max-width:500px; height:300px; margin-top: 10px;margin-left: 12px;margin-bottom:20px;" src="{{ url_for('static', filename='images/image1.jpg') }}">
    <img style="max-width:500px;height:300px; margin-top: 10px;margin-left: 25px;margin-bottom:20px;" src="{{ url_for('static', filename='images/image2.jpg') }}">
    <p></p>

    <p>Information courtesy of Instacart <b>(https://www.instacart.com/datasets/grocery-shopping-2017 )</b>.
        Available in the public domain.</p>

</body>

{% endblock %}