{% extends "header.html" %}
{% block body %}
<body>
<p></p>
<h3></h3>
    <form method="POST">
        <div class="form-group">
            <label>Database Query</label>
            <input name="query", type="text" class="form-control" placeholder="Enter your query">
            <small id="emailHelp1" class="form-text text-muted">Run your query against the live database.</small>

  </div>
         <button type="submit" class="btn btn-primary">Submit</button>
</form>
</body>


<br><br><br>
 <!-- Add Procedure -->
    <form method="POST">
        <div class="form-group">
            <label>Perform Insert operation</label>
            <input name="add_department", type="text" class="form-control" placeholder="Enter the department that you want to add">
            <small id="emailHelp2" class="form-text text-muted">The insert query will trigger a log creation of department id</small>

  </div>
         <button type="submit" class="btn btn-primary">Insert Record</button>
                        <a href="{{ url_for('display',table_name='department_log',num_of_records=1000) }}"><button type="button" class="btn btn-info" aria-label="Left Align" style="margin-top: 5px; margin-bottom: 5px; margin-right: 15px;margin-left: 15px">
		  <span class="glyphicon glyphicon-search" aria-hidden="true"></span> View Logs
		</button></a>
</form>

<br><br><br>
 <!-- Delete Procedure -->

    <form method="POST">
        <div class="form-group">
            <label>Perform Delete operation</label>
            <input name="delete_department", type="text" class="form-control" placeholder="Enter the department that you want to delete">
            <small id="emailHelp3" class="form-text text-muted">The new department will be deleted through a stored procedure and an entry will be added in backup table </small>

  </div>
         <button type="submit" class="btn btn-primary">Delete Record</button>
                <a href="{{ url_for('display',table_name='department_backup',num_of_records=1000) }}"><button type="button" class="btn btn-info" aria-label="Left Align" style="margin-top: 5px; margin-bottom: 5px; margin-right: 15px;margin-left: 15px">
		  <span class="glyphicon glyphicon-search" aria-hidden="true"></span> View Backup records
		</button></a>
</form>

<br><br><br>
 <!-- Update Procedure -->

    <form method="POST">
        <div class="form-group">
            <label>Perform Update operation</label>
            <input name="currentdept", type="text" class="form-control" placeholder="Enter the department name that you wish to update">
            <br>
            <input name="newdept", type="text" class="form-control" placeholder="Enter the new name for the above department">
            <small id="emailHelp4" class="form-text text-muted">The new department will be updated through a stored procedure and the old entry will be added in backup table</small>

  </div>
         <button type="submit" class="btn btn-primary">Update Record</button>
                        <a href="{{ url_for('display',table_name='department_backup',num_of_records=1000) }}"><button type="button" class="btn btn-info" aria-label="Left Align" style="margin-top: 5px; margin-bottom: 5px; margin-right: 15px;margin-left: 15px">
		  <span class="glyphicon glyphicon-search" aria-hidden="true"></span> View Backup records
		</button></a>
</form>
{% endblock %}