{% extends "header.html" %}
{% block body %}
<body>
<center><h2>Welcome to the Recommendation engine</h2></center>
<h3></h3>
    <form method="POST">
        <div class="form-group">
            <label>Enter the userId for which you want to generate recommendations</label>
            <input name="user", type="text" class="form-control" placeholder="Enter your userId">
            <br><br>
            <label>Enter yes or no if you want to refresh the generated recommendations</label>
            <input name="refresh", type="text" class="form-control" placeholder=" yes or no">
            <br><br>
            <label>Enter the number of recommendations you want for this user</label>
            <input name="num_records", type="text" class="form-control" placeholder="Enter number">

  </div>
         <button type="submit" class="btn btn-primary">Submit</button>
                        <a href="{{ url_for('view_recomm_user')}}"><button type="button" class="btn btn-info" aria-label="Left Align" style="margin-top: 5px; margin-bottom: 5px; margin-right: 15px;margin-left: 15px">
		  <span class="glyphicon glyphicon-search" aria-hidden="true"></span> View Users eligible for recommendations
		</button></a>
</form>
</body>

{% endblock %}