{% extends "header.html" %}
{% block body %}

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
  <h2>Following are the recommendations that we found for user id {{user_id}}</h2>
<table class="table table-hover">
    <thead>
    <tr>
        {% for header in (output[0].keys()) %}
            <th>{{header}}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {%for record in output: %}
        <tr>
        {%for element in record.values(): %}
                <td>{{element}}</td>
        {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>
</body>
{% endblock %}